<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Location</string>
	</array>
	<array>
		<string>Magnitude Limit</string>
		<string>Event Types</string>
		<string>Event Age</string>
		<string>Minimum Elevation</string>
		<string>RA-DEC Format</string>
		<string>Visible Objects Only</string>
		<string>Event Thumbnails</string>
	</array>
	<array>
		<string>Notifications</string>
	</array>
	<array>
		<string>About Transient Events</string>
	</array>
</array>
</plist>
